* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* fonts  */
  --size-4: 0.4rem;
  --size-5: 0.5rem;
  --size-8: 0.8rem;
  --size-10: 10px;
  --size-12: 1.2rem;
  --size-16: 1.6rem;
  --size-18: 1.8rem;
  --size-24: 2.4rem;
  --size-32: 3.2rem;
  --size-48: 4.8rem;
  --size-64: 6.4rem;
  --size-80: 8rem;
  --size-96: 9.6rem;
  --size-380: 38rem;
  --size-350: 35rem;
  /* color */
  --Pink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 97%, 72%);
  --Light-Red: hsl(0, 100%, 63%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);
  --white: hsl(0, 0%, 100%);
}

/* header */
header {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 64px 48px;
  align-items: center;
}
nav a:is(:link, :visited) {
  text-decoration: none;
  color: var(--Pink);
  border: 1px solid var(--Pink);
  text-align: center;
  padding: 8px 32px;
  border-radius: 24px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
nav a:is(:hover, :active) {
  box-shadow: 0 0 6px var(--Light-Pink);
}
nav img {
  height: 36px;
}
.continar-h {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  width: 60%;
  align-items: center;
}
.continar-h a:is(:link, :visited) {
  text-decoration: none;
  color: var(--white);
  background-color: var(--Pink);
  padding: 24px 96px;
  border-radius: 32px;
  display: block;
  transition: all 0.3s ease-in-out;
}
.continar-h a:is(:hover, :active) {
  background-color: var(--Light-Pink);
}
/* section-1 */

.section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 96px 0 0 0;
}
.section-1 img {
  width: 90%;
}
/* section-2 */
.section-2 {
  padding: 96px 0;
}
.grid {
  display: grid;
}
.grid-2-c {
  grid-template-columns: repeat(2, max-content);
  gap: 256px;
  align-items: center;
  justify-content: center;
}
.icon-s-2 {
  width: 36px;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.text-align {
  gap: 8px;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.text-align h2 {
  font-size: 64px;
}
.text-align span {
  font-size: 18px;
}

/* section-3 */
.section-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  padding: 128px 0;
  position: relative;
}

.bg-t-s3 {
  position: absolute;
  top: 35%;
}
.bg-b-s3 {
  position: absolute;
  bottom: 35%;
}
.bg-b-s3 {
  margin-top: -16px;
  height: 450px;
}
.continar-s-3 {
  margin-left: 128px;
  padding: 96px 0;
  /* transform: translate((-50%, -50%)); */
  /* position: absolute;
  top: 10%;
  left: 20%; */
}
.img-box-s-3 {
  width: 50%;
}
.grid-3-c {
  width: 90%;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}
.text-box-s-3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 70%;
  text-align: start;
}
/*   section-4  */
.section-4 a:is(:link, :visited) {
  text-decoration: none;
  color: var(--white);
  background-color: var(--Pink);
  padding: 24px 96px;
  border-radius: 32px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.section-4 a:is(:hover, :active) {
  background-color: var(--Light-Pink);
}
.section-4 {
  width: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  padding: 128px 0;
}
